<div class="jumbotron">
    <h1>MyAgility API</h1>
    <p class="lead">This is a web-API for the react app MyAgility.</p>
    <p><a href="http://myagility.github.io" class="btn btn-primary btn-lg">App &raquo;</a></p>
</div>

